.page-shipping-policy
  .shopify-section--accordion-content
  .accordion__toggle
  span,
.page-shipping-policy .shopify-section--accordion-content .prose p {
  font-size: 16px;
}

.page-shipping-policy .shopify-section--accordion-content details {
  border: 0px;
}

@media only screen and (min-width: 1050px) {
  .page-shipping-policy .shopify-section--accordion-content .section-full {
    padding-left: 64px;
    padding-right: 64px;
  }
  .page-shipping-policy .shopify-section--accordion-content .section-stack__main {
    width: 755px;
  }

  .page-shipping-policy
    .shopify-section--accordion-content
    .accordion__toggle
    span {
    font-size: 24px;
  }
  .page-shipping-policy .shopify-section--accordion-content .prose p {
    font-size: 20px;
  }

}
