.custom_contact_form .button_container {
  width: 100%;
}
.custom_contact_form .button_container button {
  width: 100%;
}

.custom_contact_form .fieldset {
  display: flex;
  flex-wrap: wrap;
}

.news_and_promotions_label {
  display: flex;
  gap: 0.5rem;
}
.news_and_promotions_label .hidden {
  display: none;
}
.news_and_promotions_label .visible {
  display: flex;
}
#news_and_promotions {
  display: none;
}

.custom_contact_form .section-stack {
  gap: 0px;
}

.form-control.full_width,
.form-control.half_width {
  width: 100%;
}

.custom_contact_form .contact-form {
  padding-left: 0px;
  padding-right: 0px;
}
.news_and_promotions_label p {
  font-size: 12px;
  line-height: 15.38px;
  text-align: left;
}
@media screen and (min-width: 390px) {
  .news_and_promotions_label p {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .form-control.full_width {
    width: 100%;
  }

  .form-control.half_width {
    width: 48.5% !important;
  }

  .news_and_promotions_label p {
    font-size: 16px;
    line-height: 22.4px;
  }
}
