.page-shipping-policy
  .shopify-section--accordion-content
  .accordion__toggle
  span,
.page-shipping-policy .prose p {
  font-size: 16px;
}

.page-shipping-policy details {
  border: 0px;
}

.page-terms-of-service
  .shopify-section--accordion-content
  .accordion__toggle
  span,
.page-terms-of-service .prose p {
  font-size: 16px;
}

.page-terms-of-service details {
  border: 0px;
}

@media only screen and (min-width: 1050px) {
  .page-shipping-policy .section-full {
    padding-left: 64px;
    padding-right: 64px;
  }
  .page-shipping-policy .section-stack__main {
    width: 755px;
  }

  .page-shipping-policy
    .shopify-section--accordion-content
    .accordion__toggle
    span {
    font-size: 24px;
  }
  .page-shipping-policy .prose p {
    font-size: 20px;
  }

  .page-terms-of-service .section-full {
    padding-left: 64px;
    padding-right: 64px;
  }
  .page-terms-of-service.section-stack__main {
    width: 755px;
  }

  .page-terms-of-service
    .shopify-section--accordion-content
    .accordion__toggle
    span {
    font-size: 24px;
  }
  .page-terms-of-service .prose p {
    font-size: 20px;
  }
}
