.multiple-accordions {
  padding: 0 16px;
}
.accordions-tabs-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgray;
}

.tab {
  flex: 0 0 auto;
  padding: 10px;
  text-align: center;
  background-color: white;
  color: #686868;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  padding: 12px;
}

.tab:last-child {
  margin-right: 0;
}

.accordions-tabs-container .tab:hover {
  cursor: pointer;
}

.accordions-tabs-container .tab.active {
  font-weight: 600;
  border-bottom: 1px solid black;
  color: black;
}

.accordions-sidebar {
  display: none;
}

.accordions-list {
  width: 100%;
  display: none;
}
.accordions-list.active {
  display: block;
}

.accordions-list details {
  border: 0px;
}

.accordions-list .accordion__toggle {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20.51px;
}

.accordion__content {
  margin-top: 10px;
}

.accordion__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.51px;
  letter-spacing: -0.01em;
}

.icon-toggle svg {
  width: 14x;
  height: 14px;
}

.sidebar-item {
  white-space: nowrap;
}

.sidebar-item:hover {
  cursor: pointer;
}

.sidebar-item.active {
  font-weight: 600;
}

.accordion:first-child .accordion__toggle {
  padding-top: 0px;
}

@media only screen and (min-width: 768px) {
  .multiple-accordions {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
  .accordions-tabs-container {
    display: none;
  }
  .accordions-sidebar {
    display: block;
  }
  .sidebar-item {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .multiple-accordions {
    padding: 0 64px;
  }
  .sidebar-item {
    font-size: 24px;
  }

  .accordions-list .accordion__toggle {
    font-size: 24px;
  }

  .accordion__content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }
  .accordion {
    margin-bottom: 30px;
  }
}
